<div id="cardPanel">
    <% inventory.items.forEach(item => {%>
        <%- include('cardComponent', {component_name: item.component_name, quantity: item.quantity, img: item.img, id: item.id}) %>
    <%})%>
</div>