<article class="cartItem">
    <%- include('./headerComponent.ejs', {component_name: component_name}) %>
    <div class="quantityPrice">
        <div class="pCenter">
            <p>Quantity : <%=quantity%></p>
        </div>
        <div class="pCenter">
            <p><%=price%>€</p>
        </div>
    </div>
</article>