<div class="manageComponent">
    <div class="orderingList">
        <%- include('./buttonListComponent.ejs', {count:1, buttonLink:null, id}) %>
        <%- include('./buttonListComponent.ejs', {count:10, buttonLink:null, id}) %>
        <%- include('./buttonListComponent.ejs', {count:"max", buttonLink:null, id}) %>
    </div>
    <div class="manageComponentFlexContainer">
        <div class="manageComponentCountFlexContainer">
            <p class="manageComponentCount"><%=quantity%>/100</p>
        </div>
    </div>
</div>