<nav>
    <ul>
        <li class="navGauche">
            <%- include("./navBox.ejs", {navBoxType:"Solde", montant:inventory.solde}) %>
        </li>
        <li><h1>INVENTAIRE</h1></li>
        <li class="navDroite">
            <%- include("./navBox.ejs", {navBoxType:"Prix total", montant:inventory.totalPrice}) %>
            <button>Commander</button></li>
    </ul>
</nav>